## Documentation: http://docs.travis-ci.com/user/languages/julia/
language: julia
os:
  - linux
  - osx
julia:
  - 0.6
  - 0.7
  - nightly
matrix:
  allow_failures:
    - julia: nightly
branches:
  only:
    - master
    - /^v\d+\.\d+(\.\d+)?(-\S*)?$/
jobs:
  include:
    - stage: deploy
      julia: 0.6
      os: linux
      script:
        - julia -e 'Pkg.clone(pwd()); Pkg.build("Literate"); Pkg.add("Documenter"); cd(Pkg.dir("Literate")); include("docs/make.jl")'
notifications:
  email: false
git:
  depth: 99999999
after_success:
  # push coverage results to Codecov
  - julia -e 'cd(Pkg.dir("Literate")); Pkg.add("Coverage"); using Coverage; Codecov.submit(Codecov.process_folder())'
